<p>user-profile works!</p>
<div *ngIf="profile">
    <div class="card">
        <div class="card-header">
          <span *ngIf ="profile.name" class=""> Name:{{profile.name}}  Username:{{profile.login}}</span>
            <span *ngIf="profile.company">works at {{profile.company}}</span>
            {{profile.location}}
        </div>
        <div class="card-body">
            <div class="row">
                
                <div class="col-sm-5">
                    <ul class="list-group">
                        <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
                        <li class="list-group-item" *ngIf="profile.bio">{{profile.hireable}}</li>
                        <li class="list-group-item" *ngIf="profile.email">{{profile.email}}</li>
                        <li class="list-group-item" *ngIf="profile.type">{{profile.type}}</li>
                    </ul>

                </div>
                <div class="col-sm-3">
                    <img class="rounded-circle img-fluid" src ="{{profile.avatar_url}}" alt="profile-image">
               </div >
                <div class="col-sm-4 ">
                        <ul class="list-group">
                                <li class="list-group-item" >Followers:{{profile.followers}}</li>
                                <li class="list-group-item" >Following:{{profile.following}}</li>
                                <li class="list-group-item" >Public Gits:{{profile.public_gists}}</li>
                                <li class="list-group-item" *ngIf="profile.public_repos">Public repos:{{profile.public_repos}}</li>
                            </ul>
                            <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-primary btn-sm">View profile on Github</a></p>
                            

                </div>
                

            </div>
        </div>
        
    </div>